<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <!-- Order matters: load pico first, then style.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <title>Skull's Blog</title>
    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>

  <body>
    <div id="theme-switcher">
      <a href="#" data-theme-switcher="light">☀️</a><br/>
      <a href="#" data-theme-switcher="dark">🌙</a><br/>
    </div>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
  </body>
  <script src="{{ get_url(path='js/minimal-theme-switcher.js') }}"></script>
</html>