body {
  margin-top: 2em;
  margin-bottom: 2em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  margin: .8em 0em;
}

#theme-switcher {
  position: absolute;
  right: 10px;
  top: 10px;
}
